/* style.css file */
html,
body {
    margin: 20px;
}
.modal {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
}
.modal:target {
    display: flex;
    justify-content: center;
    align-items: center;
}
.content {
    background: white;
    padding: 20px;
    border-radius: 8px;
}